/* *{
    margin: 0 !important;
} */
body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
.top-container {
    /* background-color: #E4F9F5; */
    position: relative;
    padding-top: 100px;
    
}
.header-social {
    position: absolute;
    top: 53%;
    left: 50px;
    transform: translateY(-53%);
    /* border: 1px solid rgba(0, 167, 142, 0.21); */
    /* border-radius: 50px; */
    list-style: none;
    box-sizing: border-box;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    list-style: none;
}
h1 {
    margin-bottom: 0px;
    font-family: 'Sacramento', cursive;
    font-size: 5.62rem;
    color: #66BFBF;
    font-weight:900;
    line-height: 1.7;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
    animation-name: translate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
    animation-name: translate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.profile-pic{
    position: absolute;
    right: 100px;
    top: 150px;
    width: 350px;
    background-color: black;
    border-radius: 60%;
    /* animation: profile__animate 8s ease-in-out infinite 1s; */
}
.zoom:hover{
    transform: scale(1.4);
}
@keyframes profile__animate{
    0%{
        border-radius: 60% 80% 60% 70%/60% 80% 70% 80%;
    }
    50%{
        border-radius: 80% 60% 70% 60%/50% 60% 80% 60%;
    }
    100%{
        border-radius: 60% 80% 90% 70%/60% 80% 70% 40%;
    }
}

@keyframes translate{
    50%{
        transform: translateX(300px);
    }
}
/* @keyframes translate2{
    50%{
        transform: translateY(30px);
    }
} */
@keyframes popup{
    0%{
        
    }
    100%{

    }
}

.skill{
    width: 200px;
    margin: auto;
}

hr{
    border: 6px dotted;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
}
.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .copyright{
    color: #EAF6F6;
    font-size: .75rem;
    padding: 20px 0px;
  }

/* .about-section,.home-section{
    background-image: url(../images/background-image\ .jpeg);
    background-size: contain;
    opacity: 0.5;
} */
form{
    border: 1px solid black;
    width: fit-content;
    margin: auto;
    text-align: center;
}

@media only screen and (max-width:900px){
    .profile-pic{
        visibility: hidden;
    }
}